@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
	--nav-bg-color: #1e5285;
	--ilikethis: #343747ef;
	--body-bg-color: #647080;
}

h1 {
	font-family: "Russo One", sans-serif;
	font-weight: normal;
}

nav,
footer {
	background-color: var(--nav-bg-color);
	color: white;
}

.btn {
	background-color: var(--nav-bg-color);
	border-color: var(--nav-bg-color);
}

.btn:hover {
	background-color: #1c4d7d;
}

body {
	font-family: sans-serif;
}

header {
	width: 100%;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.navbar-brand {
	margin-left: 20px;
	color: var(--nav-bg-color);
	clear: none;
	font-family: "Wallpoet", sans-serif;
}

footer p {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	flex: 1;
}

footer {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px;
	left: 0px;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

header a:hover,
footer a:hover {
	color: white;
	text-decoration: none;
}

#sign_in {
	display: flex;
}

#new_user,
#existing_user {
	flex: 1;
	text-align: center;
}

#sign_in form {
	width: 75%;
	padding: auto;
}

#sign_in form input,
#sign_in form button {
	display: block;
	margin: auto;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
	padding: 75px;
	background-color: var(--body-bg-color);
	color: linen;
}

.card,
.accordion {
	color: #192d48;
}

.card {
	margin: 5px;
}

.card-header {
	background-color: lightgray;
}

.nav-pills .nav-link {
	border: 1px solid white;
	margin: 10px;
}
